streamlit==1.32.0

# Core LangChain
langchain==0.2.12
langchain-community==0.2.11

# OpenAI integration 
langchain-openai==0.1.17

# Pinecone integration
langchain-pinecone==0.1.1
pinecone-client==3.2.2

# OpenAI SDK
openai==1.43.0

# Utils
requests>=2.32.0

